Repository raspberrypi/documentation, pull requests merged in 2021-11, with the labels that each got.

#2260 Add [cm3] model filter
  documentation/asciidoc/computers/config_txt/conditional.adoc
Labels: enhancement, requires technical check, documentation

#2261 camera: Minor clarifications on depth of field
  documentation/asciidoc/accessories/camera/camera_hardware.adoc
Labels: copy edit

#2264 Spelling corrected
  documentation/asciidoc/accessories/build-hat/introduction.adoc
Labels: typo, documentation, lego 🧱

#2268 Update .org URLs to their .com equivalents
  documentation/asciidoc/accessories/camera/camera_hardware.adoc
  documentation/asciidoc/accessories/camera/camera_usage.adoc
  documentation/asciidoc/accessories/camera/libcamera_apps_getting_help.adoc
  documentation/asciidoc/accessories/camera/raspicam.adoc
  documentation/asciidoc/accessories/camera/raw.adoc
  documentation/asciidoc/accessories/sense-hat.adoc
  documentation/asciidoc/accessories/tv-hat.adoc
  documentation/asciidoc/computers/compute-module/cm-emmc-flashing.adoc
  documentation/asciidoc/computers/compute-module/cm-peri-sw-guide.adoc
  documentation/asciidoc/computers/compute-module/cmio-camera.adoc
  documentation/asciidoc/computers/compute-module/cmio-display.adoc
  documentation/asciidoc/computers/config_txt/boot.adoc
  documentation/asciidoc/computers/config_txt/codeclicence.adoc
  documentation/asciidoc/computers/config_txt/overclocking.adoc
  documentation/asciidoc/computers/config_txt/video.adoc
  documentation/asciidoc/computers/configuration/access-point-bridged.adoc
  documentation/asciidoc/computers/configuration/access-point-routed.adoc
  documentation/asciidoc/computers/configuration/device-tree.adoc
  documentation/asciidoc/computers/getting-started/connecting-a-monitor.adoc
  documentation/asciidoc/computers/getting-started/installing-from-an-image.adoc
  documentation/asciidoc/computers/getting-started/installing-from-chromeos.adoc
  documentation/asciidoc/computers/getting-started/installing-from-mac.adoc
  documentation/asciidoc/computers/getting-started/setting-up.adoc
  documentation/asciidoc/computers/linux_kernel/building.adoc
  documentation/asciidoc/computers/os/playing-audio-and-video.adoc
  documentation/asciidoc/computers/os/updating.adoc
  documentation/asciidoc/computers/os/using-gpio.adoc
  documentation/asciidoc/computers/processors/bcm2837b0.adoc
  documentation/asciidoc/computers/raspberry-pi/boot-diagnostics-rpi4.adoc
  documentation/asciidoc/computers/raspberry-pi/boot-eeprom-rpi4.adoc
  documentation/asciidoc/computers/raspberry-pi/boot-msd.adoc
  documentation/asciidoc/computers/raspberry-pi/display-parallel-interface.adoc
  documentation/asciidoc/computers/raspberry-pi/power-supplies.adoc
  documentation/asciidoc/computers/raspberry-pi/raspberry-pi-compliance.adoc
  documentation/asciidoc/computers/raspberry-pi/spi-bus-on-raspberry-pi.adoc
  documentation/asciidoc/computers/using_linux/linux-using-commands.adoc
  documentation/asciidoc/microcontrollers/microcontroller_docs.adoc
  documentation/asciidoc/microcontrollers/rp2040/rp2040_based_boards.adoc
Labels: documentation

#2267 Fix display of double-underscores inside backticks.
  documentation/asciidoc/accessories/camera/timelapse.adoc
  documentation/asciidoc/computers/configuration/device-tree.adoc
Labels: requires technical check, bug fix, documentation

#2269 Fixed typos in config.txt's video section
  documentation/asciidoc/computers/config_txt/video.adoc
Labels: typo

#2270 Various tweaks and tidyups
  documentation/asciidoc/accessories/build-hat.adoc
  documentation/asciidoc/accessories/camera/libcamera_options_common.adoc
  documentation/asciidoc/accessories/sense-hat.adoc
  documentation/asciidoc/computers/config_txt/video.adoc
  documentation/asciidoc/computers/configuration/device-tree.adoc
  documentation/asciidoc/computers/configuration/screensaver.adoc
  documentation/asciidoc/computers/configuration/securing-the-raspberry-pi.adoc
  documentation/asciidoc/computers/os/using-gpio.adoc
  documentation/asciidoc/computers/os/using-python.adoc
  documentation/asciidoc/computers/raspberry-pi.adoc
  documentation/asciidoc/computers/raspberry-pi/peripheral_addresses.adoc
  documentation/asciidoc/computers/remote-access/apache.adoc
  documentation/asciidoc/computers/using_linux/linux-root-user.adoc
  documentation/asciidoc/computers/using_linux/linux-using-commands.adoc
  documentation/asciidoc/computers/using_linux/linux-using-text-editors.adoc
  documentation/asciidoc/microcontrollers/c_sdk.adoc
  documentation/asciidoc/microcontrollers/c_sdk/official_sdk.adoc
  documentation/asciidoc/microcontrollers/c_sdk/sdk_setup.adoc
  documentation/asciidoc/microcontrollers/c_sdk/your_first_binary.adoc
  documentation/asciidoc/microcontrollers/microcontroller_docs.adoc
  documentation/asciidoc/microcontrollers/micropython.adoc
  documentation/asciidoc/microcontrollers/raspberry-pi-pico.adoc
  documentation/asciidoc/microcontrollers/raspberry-pi-pico/about_pico.adoc
  documentation/asciidoc/microcontrollers/raspberry-pi-pico/utilities.adoc
  documentation/asciidoc/microcontrollers/rp2040.adoc
Labels: enhancement, typo, documentation

#2272 Update secure-shell-passwordless.adoc
  documentation/asciidoc/computers/remote-access/secure-shell-passwordless.adoc
Labels: documentation, macos

#2273 Update raspios image filenames
  documentation/asciidoc/computers/getting-started/installing-from-linux.adoc
Labels: documentation

#2274 Fix typo
  documentation/asciidoc/computers/raspberry-pi/boot-net.adoc
Labels: typo

#2275 Another typo
  documentation/asciidoc/computers/raspberry-pi/boot-net.adoc
Labels: typo

#2276 Update updating page now that Bullseye is released
  documentation/asciidoc/computers/os/updating.adoc
Labels: documentation

#2280 camera: A couple of very minor improvements
  documentation/asciidoc/accessories/camera/camera_usage.adoc
  documentation/asciidoc/accessories/camera/libcamera_vid.adoc
Labels: documentation

#2286 updated compat doc
  documentation/asciidoc/accessories/build-hat/compat.adoc
Labels: documentation, lego 🧱

#2290 Fix typo in "Attaching a Raspberry Pi Camera Module"
  documentation/asciidoc/computers/compute-module/cmio-camera.adoc
Labels: typo

#2296 Fixed : fixed typo
  documentation/asciidoc/computers/raspberry-pi/boot-usb.adoc
Labels: typo

#2295 Fixed : fixed typo
  documentation/asciidoc/computers/remote-access/samba.adoc
Labels: typo

#2299 Update CM4 recovery instructions
  documentation/asciidoc/computers/compute-module/cm-emmc-flashing.adoc
Labels: enhancement, documentation

#2303 Update camera_auto_detect usage in the camera documentation.
  documentation/asciidoc/accessories/camera/libcamera_apps_getting_started.adoc
Labels: documentation

#2306 Remove obsolete kernel option
  documentation/asciidoc/computers/configuration/kernel-command-line-config.adoc
  documentation/asciidoc/computers/remote-access/network-boot-raspberry-pi.adoc
Labels: ready to merge
