Repository raspberrypi/documentation, pull requests merged in 2022-07, with the labels that each got.

#2562 Small typos
  documentation/asciidoc/accessories/camera/libcamera_apps_libav.adoc
Labels: typo, documentation, camera 📷

#2577 Fix bad section level for otg_mode
  documentation/asciidoc/computers/config_txt/boot.adoc
Labels: typo

#2542 video.adoc: Document requirement for overclock for certain 4K modes
  documentation/asciidoc/computers/config_txt/video.adoc
Labels: ready to merge, documentation

#2580 Network-boot-ipv6 : some typo
  documentation/asciidoc/computers/remote-access/network-boot-ipv6.adoc
Labels: typo

#2587 libcamera: Update --list-cameras output
  documentation/asciidoc/accessories/camera/libcamera_options_common.adoc
Labels: enhancement, documentation, camera 📷

#2544 video.adoc: Pi 4-related fix up
  documentation/asciidoc/computers/config_txt/video.adoc
Labels: documentation

#2601 Update headless.adoc
  documentation/asciidoc/computers/configuration/headless.adoc
Labels: enhancement, documentation

#2602 typo
  documentation/asciidoc/computers/configuration/headless.adoc
Labels: typo
