Repository raspberrypi/documentation, pull requests merged in 2022-09, with the labels that each got.

#2613 Correct the git repository where we fetch libcamera
  documentation/asciidoc/accessories/camera/libcamera_apps_building.adoc
  documentation/asciidoc/accessories/camera/libcamera_apps_intro.adoc
  documentation/asciidoc/accessories/camera/libcamera_software.adoc
Labels: camera 📷

#2616 Revert "Warning about Windows"
  documentation/asciidoc/computers/configuration/headless.adoc
Labels: documentation

#2618 Grammar fix
  documentation/asciidoc/computers/config_txt/memory.adoc
Labels: typo

#2619 Fix typo in vcgencmd measure_clock h264 parameter
  documentation/asciidoc/computers/os/graphics-utilities.adoc
Labels: typo
