Repository raspberrypi/documentation, pull requests merged in 2022-05, with the labels that each got.

#2523 chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Labels: toolchain

#2530 Fix sensor name in maximum exposure table
  documentation/asciidoc/accessories/camera/camera_hardware.adoc
Labels: typo, camera 📷

#2531 Fixup kB and MB to be consistent with the style-guide
  documentation/asciidoc/accessories/camera/raspicam.adoc
  documentation/asciidoc/computers/processors/bcm2711.adoc
  documentation/asciidoc/computers/processors/rp3a0.adoc
  documentation/asciidoc/computers/raspberry-pi/usb-bus-on-raspberry-pi.adoc
  documentation/asciidoc/microcontrollers/raspberry-pi-pico/about_pico.adoc
  documentation/asciidoc/microcontrollers/rp2040/rp2040_based_boards.adoc
Labels: documentation, copy edit

#2529 Small edits to BCM2835 page
  documentation/asciidoc/computers/processors/bcm2835.adoc
Labels: copy edit

#2536 Minor copy-edit
  documentation/asciidoc/computers/compute-module/cm-peri-sw-guide.adoc
Labels: typo

#2506 Update device-tree.adoc
  documentation/asciidoc/computers/configuration/device-tree.adoc
Labels: documentation

#2518 Removed installation documentation
  documentation/asciidoc/computers/compute-module/cm-emmc-flashing.adoc
  documentation/asciidoc/computers/getting-started.adoc
  documentation/asciidoc/computers/getting-started/installing-from-an-image.adoc
  documentation/asciidoc/computers/getting-started/installing-from-chromeos.adoc
  documentation/asciidoc/computers/getting-started/installing-from-linux.adoc
  documentation/asciidoc/computers/getting-started/installing-from-mac.adoc
  documentation/asciidoc/computers/getting-started/installing-from-windows.adoc
Labels: ready to merge, documentation

#2467 Update the Build HAT .NET instructions
  documentation/asciidoc/accessories/build-hat/net-installing-software.adoc
Labels: ready to merge, documentation, lego 🧱

#2538 Remove redundant link
  documentation/asciidoc/computers/getting-started/installing-from-an-image.adoc
Labels: copy edit

#2539 Minor bootloader updates + document the PARTITION property
  documentation/asciidoc/computers/raspberry-pi/bcm2711-bootloader.adoc
  documentation/asciidoc/computers/raspberry-pi/bootflow-2711.adoc
Labels: documentation

#2545 Fix typo in libcamera_raw.adoc
  documentation/asciidoc/accessories/camera/libcamera_raw.adoc
Labels: typo

#2543 Document secure-boot config.txt properties
  documentation/asciidoc/computers/raspberry-pi/bcm2711-bootloader.adoc
Labels: enhancement, ready to merge, documentation

#2519 Removed the 'Using Linux' section
  documentation/asciidoc/accessories/build-hat/py-installing-software.adoc
  documentation/asciidoc/computers/config_txt/what_is_config_txt.adoc
  documentation/asciidoc/computers/configuration/raspi-config.adoc
  documentation/asciidoc/computers/configuration/securing-the-raspberry-pi.adoc
  documentation/asciidoc/computers/os/using-python.adoc
  documentation/asciidoc/computers/remote-access/secure-shell.adoc
  documentation/asciidoc/computers/using_linux.adoc
  documentation/asciidoc/computers/using_linux/filesystem-home.adoc
  documentation/asciidoc/computers/using_linux/images/lsresult.png
  documentation/asciidoc/computers/using_linux/images/terminal.png
  documentation/asciidoc/computers/using_linux/linux-bash.adoc
  documentation/asciidoc/computers/using_linux/linux-crontab.adoc
  documentation/asciidoc/computers/using_linux/linux-multiple-users.adoc
  documentation/asciidoc/computers/using_linux/linux-root-user.adoc
  documentation/asciidoc/computers/using_linux/linux-scripting.adoc
  documentation/asciidoc/computers/using_linux/linux-systemd.adoc
  documentation/asciidoc/computers/using_linux/linux-using-commands.adoc
  documentation/asciidoc/computers/using_linux/linux-using-text-editors.adoc
  documentation/asciidoc/computers/using_linux/using-the-terminal.adoc
  documentation/index.json
Labels: ready to merge, documentation

#2547 Fix redirects to match #2519
  documentation/htaccess_extra.txt
Labels: bug fix
