Repository raspberrypi/documentation, pull requests merged in 2022-06, with the labels that each got.

#2554 configuration: Describe the RPi specific /chosen DT parameters
  documentation/asciidoc/computers/configuration/device-tree.adoc
Labels: documentation

#2556 correct spelling on Raspberry
  documentation/asciidoc/computers/configuration/headless.adoc
  documentation/asciidoc/computers/raspberry-pi/gpio-on-raspberry-pi.adoc
Labels: typo

#2555 Update GPIO boot-mode for Pi3B with BCM2837B0
  documentation/asciidoc/computers/raspberry-pi/boot-gpio.adoc
Labels: enhancement, documentation

#2553 Typo fixes
  documentation/asciidoc/accessories/build-hat/net-brick.adoc
Labels: typo, lego 🧱
