Repository raspberrypi/documentation, pull requests merged in 2022-10, with the labels that each got.

#2630 Hint to new userconfig file for ssh servers in headless setups.
  documentation/asciidoc/computers/configuration/headless.adoc
  documentation/asciidoc/computers/remote-access/secure-shell.adoc
Labels: enhancement, documentation

#2632 Fix filename
  documentation/asciidoc/computers/remote-access/secure-shell.adoc
Labels: bug fix

#2640 Superfluous 'and'
  documentation/asciidoc/microcontrollers/raspberry-pi-pico/about_pico.adoc
Labels: typo

#2654 Document autoboot.txt and TRYBOOT_A_B mode
  documentation/asciidoc/computers/config_txt.adoc
  documentation/asciidoc/computers/config_txt/autoboot.adoc
  documentation/asciidoc/computers/config_txt/conditional.adoc
  documentation/asciidoc/computers/configuration/device-tree.adoc
  documentation/asciidoc/computers/raspberry-pi/bcm2711-bootloader.adoc
  documentation/asciidoc/computers/raspberry-pi/bootflow-2711.adoc
Labels: enhancement, ready to merge, documentation

#2639 Rewording, style, punctuation
  documentation/asciidoc/accessories/iqaudio/introduction.adoc
Labels: copy edit, audio 🔊

#2642 Style, rewording
  documentation/asciidoc/accessories/iqaudio/faq.adoc
Labels: copy edit, audio 🔊

#2644 Style and wording tweaks
  documentation/asciidoc/accessories/iqaudio/dac_pro.adoc
Labels: copy edit, audio 🔊

#2648 CE
  documentation/asciidoc/accessories/iqaudio/dac_plus.adoc
Labels: copy edit, audio 🔊

#2650 CE
  documentation/asciidoc/accessories/iqaudio/codec_zero.adoc
Labels: copy edit, audio 🔊

#2651 CE
  documentation/asciidoc/accessories/iqaudio/advanced.adoc
Labels: copy edit, audio 🔊

#2649 CE
  documentation/asciidoc/accessories/iqaudio/configuration.adoc
Labels: copy edit, audio 🔊

#2641 Edits for style and sense
  documentation/asciidoc/accessories/iqaudio/getting_started.adoc
Labels: copy edit, audio 🔊

#2661 0.2>0-2
  documentation/asciidoc/accessories/audio/introduction.adoc
Labels: typo

#2655 Describe device-tree nvmem nodes for the bootloader
  documentation/asciidoc/computers/configuration/device-tree.adoc
Labels: enhancement, ready to merge, documentation

#2663 Add note for libcamera2 in GPU mem section
  documentation/asciidoc/computers/config_txt/memory.adoc
Labels: documentation

#2665 bootflow-2711: fix typo 'unnecessary'
  documentation/asciidoc/computers/raspberry-pi/bootflow-2711.adoc
Labels: typo

#2666 CM4 provisioning
  documentation/asciidoc/computers/compute-module/cm-emmc-flashing.adoc
Labels: documentation

#2671 Misspelled word
  documentation/asciidoc/accessories/camera/libcamera_apps_intro.adoc
Labels: typo

#2672 Update OTP section for programming a device specific private key
  documentation/asciidoc/computers/raspberry-pi/otp-bits.adoc
  documentation/asciidoc/computers/raspberry-pi/raspberry-pi-industrial.adoc
Labels: enhancement, ready to merge?, documentation

#2675 Minor copy-edits
  documentation/asciidoc/computers/config_txt/video.adoc
  documentation/asciidoc/computers/configuration/boot_folder.adoc
  documentation/asciidoc/computers/configuration/device-tree.adoc
  documentation/asciidoc/computers/os/graphics-utilities.adoc
  documentation/asciidoc/computers/raspberry-pi/otp-bits.adoc
  documentation/asciidoc/computers/raspberry-pi/raspberry-pi-industrial.adoc
Labels: copy edit

#2674 CE
  documentation/index.json
Labels: copy edit

#2677 Fixing chip name typo.
  documentation/asciidoc/microcontrollers/raspberry-pi-pico/about_pico.adoc
Labels: typo
