Repository raspberrypi/documentation, pull requests merged in 2023-12, with the labels that each got.

#3300 Add missing 50°C fan threshold and mention hysteresis
  documentation/asciidoc/computers/raspberry-pi-5/cooling.adoc
Labels: enhancement, requires technical check, documentation, pi5 5️⃣

#3305 Improve wording of Pi 5 introduction power button doc
  documentation/asciidoc/computers/raspberry-pi-5/introduction.adoc
Labels: enhancement, documentation

#3311 Fixing doxygen index title
  scripts/create_build_adoc_doxygen.py
Labels: bug fix, toolchain

#3312 Tests for doxygen titles and toc content
  tests/fixtures/nav.json
  tests/test_doxygen_adoc.py
  tests/test_nav.py
Labels: enhancement, toolchain

#3313 Update building.adoc - Update Cross-Compile with Raspberry Pi 5 Instructions
  documentation/asciidoc/computers/linux_kernel/building.adoc
Labels: enhancement, documentation

#3321 Add Pi 5 model filter to config.txt documentation
  documentation/asciidoc/computers/config_txt/conditional.adoc
Labels: bug fix

#3322 Add RP1 error code to LED blink warnings
  documentation/asciidoc/computers/configuration/led_blink_warnings.adoc
Labels: enhancement, documentation, rp1

#3326 Update building instructions for kernel 6.5 and later
  documentation/asciidoc/computers/linux_kernel/building.adoc
Labels: documentation, update

#3331 Fix typo in introduction.adoc
  documentation/asciidoc/computers/raspberry-pi-5/introduction.adoc
Labels: typo

#3332 Fix capitalization in mipi.adoc
  documentation/asciidoc/computers/raspberry-pi-5/mipi.adoc
Labels: typo
