Repository raspberrypi/documentation, pull requests merged in 2023-07, with the labels that each got.

#3001 Add missing comma
  documentation/asciidoc/computers/getting-started/setting-up.adoc
Labels: typo

#3008 Update bcm2711-bootloader.adoc - Fix EEPROM_nWP typo
  documentation/asciidoc/computers/raspberry-pi/bcm2711-bootloader.adoc
Labels: typo

#3010 Update OpenOCD branch in debug-probe documentation
  documentation/asciidoc/microcontrollers/debug-probe/installing-tools.adoc
Labels: documentation

#3014 Update configuration.adoc
  documentation/asciidoc/accessories/audio/configuration.adoc
Labels: bug fix, audio 🔊

#3018 fix typo on 'Raspberry' word
  documentation/asciidoc/microcontrollers/raspberry-pi-pico/about_pico.adoc
Labels: typo

#3025 Update OpenOCD branch name
  documentation/asciidoc/microcontrollers/debug-probe/installing-tools.adoc
Labels: documentation

#3026 Update Debug Probe instructions
  documentation/asciidoc/microcontrollers/debug-probe/installing-tools.adoc
Labels: bug fix, documentation

#3027 Adding NOTE about building 32-bit kernel
  documentation/asciidoc/computers/linux_kernel/building.adoc
Labels: documentation, linux

#3030 Wording tweak to kernel building
  documentation/asciidoc/computers/linux_kernel/building.adoc
Labels: documentation, copy edit
