Repository raspberrypi/documentation, pull requests merged in 2023-01, with the labels that each got.

#2723 Change warning to mention bugfix in macOS 13.1
  documentation/asciidoc/microcontrollers/micropython/drag-and-drop.adoc
Labels: documentation, macos

#2726 Updates for new features
  documentation/asciidoc/accessories/camera/camera_hardware.adoc
  documentation/asciidoc/accessories/camera/hqcam_filter_removal.adoc
  documentation/asciidoc/accessories/camera/images/cm3.jpg
  documentation/asciidoc/accessories/camera/images/cm3_noir.jpg
  documentation/asciidoc/computers/camera/camera_usage.adoc
  documentation/asciidoc/computers/camera/libcamera_options_common.adoc
  documentation/asciidoc/computers/camera/libcamera_options_still.adoc
  documentation/asciidoc/computers/camera/libcamera_python.adoc
  documentation/asciidoc/computers/config_txt/camera.adoc
  documentation/redirects/datasheets.csv
Labels: documentation, camera 📷

#2733 camera: Add notes about high framerate video encode
  documentation/asciidoc/computers/camera/libcamera_vid.adoc
Labels: documentation, camera 📷

#2736 camera: Correct video modes for Camera Module 3
  documentation/asciidoc/accessories/camera/camera_hardware.adoc
Labels: documentation, camera 📷

#2351 Rename duplicate Conditional filters heading title
  documentation/asciidoc/computers/config_txt/what_is_config_txt.adoc
Labels: bug, toolchain, backlog

#2738 Remove the claim that libcamera and libcamera-apps can be installed o…
  documentation/asciidoc/computers/camera/libcamera_apps_getting_help.adoc
  documentation/asciidoc/computers/camera/libcamera_apps_getting_started.adoc
  documentation/asciidoc/computers/camera/libcamera_apps_packages.adoc
  documentation/asciidoc/computers/camera/raspicam.adoc
Labels: documentation, camera 📷

#2739 Minor tweak for clarity
  documentation/asciidoc/computers/camera/libcamera_apps_getting_started.adoc
Labels: documentation, camera 📷

#2750 Grammar fixup
  documentation/asciidoc/accessories/camera/lens.adoc
Labels: copy edit, camera 📷

#2764 Astro Pi -> Sense HAT
  documentation/asciidoc/accessories/sense-hat/hardware.adoc
Labels: copy edit

#2770 typo
  documentation/asciidoc/computers/os/using-gpio.adoc
Labels: typo
