Repository raspberrypi/documentation, pull requests merged in 2023-02, with the labels that each got.

#2767 Instructions to update the Audio HAT firmware
  documentation/asciidoc/accessories/audio.adoc
  documentation/asciidoc/accessories/audio/advanced.adoc
  documentation/asciidoc/accessories/audio/faq.adoc
  documentation/asciidoc/accessories/audio/hardware-info.adoc
  documentation/asciidoc/accessories/audio/images/firmware-update/detected.png
  documentation/asciidoc/accessories/audio/images/firmware-update/flashed.png
  documentation/asciidoc/accessories/audio/images/firmware-update/flashing.png
  documentation/asciidoc/accessories/audio/images/firmware-update/nodac.png
  documentation/asciidoc/accessories/audio/images/firmware-update/nohat.png
  documentation/asciidoc/accessories/audio/images/firmware-update/select.png
  documentation/asciidoc/accessories/audio/images/firmware-update/timeout.png
  documentation/asciidoc/accessories/audio/images/firmware-update/warning.png
  documentation/asciidoc/accessories/audio/update-firmware.adoc
Labels: enhancement, documentation, audio 🔊

#2776 Fix example for --info-text Focus measure
  documentation/asciidoc/computers/camera/libcamera_options_common.adoc
Labels: typo, camera 📷

#2786 Fixup some SWD links to the Arm docs
  documentation/asciidoc/microcontrollers/debug-probe/introduction.adoc
  documentation/asciidoc/microcontrollers/debug-probe/swd-connection.adoc
Labels: bug fix, documentation

#2793 Update Pico setup for Windows links
  documentation/asciidoc/microcontrollers/debug-probe/installing-tools.adoc
Labels: enhancement, documentation

#2791 Adding pico-sdk box images and adjusting image workflow
  Makefile
  build.ninja
  documentation/images/full-sized/SDK-Intro.png
  documentation/images/full-sized/pico-sdk_0.png
  documentation/images/full-sized/pico-sdk_1.png
  documentation/images/full-sized/pico-sdk_2.png
  documentation/images/full-sized/pico-sdk_3.png
  documentation/images/full-sized/pico-sdk_4.png
  documentation/images/full-sized/pico-sdk_5.png
  scripts/create_auto_ninjabuild.py
  scripts/create_output_index_json.py
Labels: enhancement, toolchain, doxygen

#2800 Build Doxygen documentation and upgrade dependencies
  .github/workflows/build.yml
  .github/workflows/stale.yml
  Gemfile.lock
Labels: toolchain

#2812 Check Python dependency updates with Dependabot
  .github/dependabot.yml
Labels: toolchain
