Repository raspberrypi/documentation, pull requests merged in 2023-05, with the labels that each got.

#2909 Upgrade to Docsearch v3
  .github/workflows/build.yml
  jekyll-assets/_includes/head.html
  jekyll-assets/_includes/search.html
Labels: bug fix, toolchain

#2906 Clarify shared conditional filter documentation
  documentation/asciidoc/computers/config_txt/conditional.adoc
Labels: enhancement, documentation

#2911 Re-enable SSL verification for developer.arm.com
  .github/workflows/build.yml
Labels: toolchain

#2908 Minor update to cut-down firmware description
  documentation/asciidoc/computers/configuration/boot_folder.adoc
Labels: documentation

#2905 Add note regarding cut-down firmware
  documentation/asciidoc/computers/config_txt/boot.adoc
Labels: documentation

#2921 Update camera docs with new directory structure.
  documentation/asciidoc/computers/camera/libcamera_apps_building.adoc
  documentation/asciidoc/computers/camera/libcamera_software.adoc
Labels: enhancement, documentation

#2922 Small tweak to match wording to pictures
  documentation/asciidoc/accessories/camera/filters.adoc
Labels: enhancement, documentation, camera 📷

#2916 Clarify headless setup intro
  documentation/asciidoc/computers/configuration/headless.adoc
Labels: #wtd2023

#2919 Update configuring.adoc
  documentation/asciidoc/computers/getting-started/configuring.adoc
Labels: #wtd2023

#2920 Typo fixes on CONTRIBUTING.md
  CONTRIBUTING.md
Labels: waiting for comment, copy edit

#2931 Make the Doxygen-build optional again
  scripts/create_auto_ninjabuild.py
Labels: bug fix, toolchain

#2946 Building libcamera now requires cmake
  documentation/asciidoc/computers/camera/libcamera_apps_building.adoc
Labels: documentation, camera 📷

#2945 Remove Python-usage instructions
  documentation/asciidoc/computers/os.adoc
  documentation/asciidoc/computers/os/using-python.adoc
Labels: documentation

#2965 Google Analytics 4
  jekyll-assets/_includes/head.html
Labels: toolchain
