Repository raspberrypi/documentation, pull requests merged in 2023-08, with the labels that each got.

#3040 Custom template for integrating book links
  jekyll-assets/_templates/helpers.rb
  jekyll-assets/_templates/section.html.slim
Labels: enhancement, toolchain

#3052 update port info for older models
  documentation/asciidoc/computers/raspberry-pi/usb-bus-on-raspberry-pi.adoc
Labels: enhancement, documentation

#3041 Updating getting started guide to clear redundancy with "tutorials" guide
  documentation/asciidoc/computers/getting-started.adoc
  documentation/asciidoc/computers/getting-started/configuring.adoc
  documentation/asciidoc/computers/getting-started/images/peripherals/cable-all.png
  documentation/asciidoc/computers/getting-started/images/peripherals/cable-audio.png
  documentation/asciidoc/computers/getting-started/images/peripherals/cable-hdmi.png
  documentation/asciidoc/computers/getting-started/images/peripherals/cable-key.png
  documentation/asciidoc/computers/getting-started/images/peripherals/cable-mouse.png
  documentation/asciidoc/computers/getting-started/images/peripherals/cable-net.png
  documentation/asciidoc/computers/getting-started/images/peripherals/cable-power.png
  documentation/asciidoc/computers/getting-started/images/peripherals/sd-card.png
  documentation/asciidoc/computers/getting-started/images/pi_imager_1.png
  documentation/asciidoc/computers/getting-started/images/pi_imager_2.png
  documentation/asciidoc/computers/getting-started/images/pi_imager_3.png
  documentation/asciidoc/computers/getting-started/images/pi_recommended.png
  documentation/asciidoc/computers/getting-started/installing-from-an-image.adoc
  documentation/asciidoc/computers/getting-started/network-installation.adoc
  documentation/asciidoc/computers/getting-started/setting-up.adoc
  documentation/asciidoc/computers/getting-started/wrapping-up.adoc
  documentation/asciidoc/computers/raspberry-pi/boot-http.adoc
  documentation/asciidoc/computers/raspberry-pi/boot-nvme.adoc
Labels: enhancement, documentation, bookworm 🐛

#3038 Note which settings pertain only to the bootloader...
  documentation/asciidoc/computers/config_txt/what_is_config_txt.adoc
Labels: documentation

#3056 Change boot_delay default value
  documentation/asciidoc/computers/config_txt/boot.adoc
Labels: documentation

#3058 Added a11y to os
  documentation/asciidoc/computers/os.adoc
  documentation/asciidoc/computers/os/accessibility.adoc
Labels: documentation, bookworm 🐛

#3059 Remove outdated tutorials
  documentation/asciidoc/computers/configuration.adoc
  documentation/asciidoc/computers/configuration/access-point-bridged.adoc
  documentation/asciidoc/computers/configuration/access-point-routed.adoc
Labels: documentation, bookworm 🐛

#3064 Removed warning icons file and section
  documentation/asciidoc/computers/configuration.adoc
  documentation/asciidoc/computers/configuration/warning-icons.adoc
Labels: documentation

#3065 Update screen blanking
  documentation/asciidoc/computers/configuration/screensaver.adoc
Labels: documentation, bookworm 🐛

#3069 Restore important details for temp throttling
  documentation/asciidoc/computers/raspberry-pi/frequency-management.adoc
Labels: bug fix, documentation

#3074 New firmware release
  documentation/asciidoc/microcontrollers/debug-probe/updating-firmware.adoc
Labels: documentation

#3076 Updated kernel to 6.1.y
  documentation/asciidoc/computers/camera/csi-2-usage.adoc
  documentation/asciidoc/computers/configuration/device-tree.adoc
  documentation/asciidoc/computers/configuration/kernel-command-line-config.adoc
  documentation/asciidoc/computers/configuration/uart.adoc
  documentation/asciidoc/computers/linux_kernel/patching.adoc
  documentation/asciidoc/computers/raspberry-pi/revision-codes.adoc
  documentation/asciidoc/computers/raspberry-pi/spi-bus-on-raspberry-pi.adoc
Labels: bookworm 🐛

#3077 Tidying up External Trigger and Synchronous Shutters
  documentation/asciidoc/accessories/camera/external_trigger.adoc
  documentation/asciidoc/accessories/camera/images/pico_wiring.jpg
  documentation/asciidoc/accessories/camera/images/synchronous_camera_wirig.jpg
  documentation/asciidoc/accessories/camera/synchronous_cameras.adoc
Labels: enhancement, documentation, camera 📷

#3078 Small tweak
  documentation/asciidoc/accessories/camera/synchronous_cameras.adoc
Labels: copy edit, camera 📷
