Repository raspberrypi/documentation, pull requests merged in 2023-06, with the labels that each got.

#2976 update cut cmd to grab last 8 of serial
  documentation/asciidoc/computers/remote-access/network-boot-raspberry-pi.adoc
Labels: typo, documentation

#2975 Styling for whitepaper info blocks
  Gemfile
  Gemfile.lock
  _config.yml
  jekyll-assets/_includes/scripts.html
  jekyll-assets/_templates/sidebar.html.slim
  jekyll-assets/css/style.css
  jekyll-assets/css/whitepaper_coverimage.png
  jekyll-assets/scripts/whitepaper.js
Labels: enhancement, toolchain

#2970 Fix header-level (prevents warnings during build)
  documentation/asciidoc/services/id/2fa.adoc
Labels: bug fix, documentation

#2971 Rename the raspi-config 'nonint' anchors to prevent duplicate-anchor build warnings
  documentation/asciidoc/computers/configuration/raspi-config.adoc
Labels: bug fix, documentation

#2985 Add a link to the white paper on DPI
  documentation/asciidoc/computers/raspberry-pi/display-parallel-interface.adoc
Labels: enhancement, documentation

#2986 Figure caption styling
  jekyll-assets/css/style.css
  scripts/create_build_adoc.py
Labels: bug fix, toolchain

#2990 Adding edit links for all file headers
  scripts/create_build_adoc.py
  scripts/create_build_adoc_include.py
Labels: bug fix, toolchain

#2994 Added schematics for v3 camera
  documentation/asciidoc/accessories/camera/camera_hardware.adoc
Labels: camera 📷
