Repository raspberrypi/documentation, pull requests merged in 2024-02, with the labels that each got.

#3522 Explode the Pi 5 documentation all over the place
  documentation/asciidoc/accessories/camera/synchronous_cameras.adoc
  documentation/asciidoc/accessories/display/display_intro.adoc
  documentation/asciidoc/computers/camera/rpicam_hello.adoc
  documentation/asciidoc/computers/config_txt/overclocking.adoc
  documentation/asciidoc/computers/configuration/raspi-config.adoc
  documentation/asciidoc/computers/configuration/uart.adoc
  documentation/asciidoc/computers/raspberry-pi-5.adoc
  documentation/asciidoc/computers/raspberry-pi-5/cooling.adoc
  documentation/asciidoc/computers/raspberry-pi-5/gpio.adoc
  documentation/asciidoc/computers/raspberry-pi-5/images/GPIO-duplicate.png
  documentation/asciidoc/computers/raspberry-pi-5/images/active-cooler.jpg
  documentation/asciidoc/computers/raspberry-pi-5/images/camera-cables.jpg
  documentation/asciidoc/computers/raspberry-pi-5/images/case.jpg
  documentation/asciidoc/computers/raspberry-pi-5/images/debug-probe-and-pi5.jpg
  documentation/asciidoc/computers/raspberry-pi-5/images/display-cables.jpg
  documentation/asciidoc/computers/raspberry-pi-5/images/firstboot-powerwarning.png
  documentation/asciidoc/computers/raspberry-pi-5/images/mipi-connectors.jpg
  documentation/asciidoc/computers/raspberry-pi-5/images/pi5-labelled.jpg
  documentation/asciidoc/computers/raspberry-pi-5/images/poe-prototype.jpg
  documentation/asciidoc/computers/raspberry-pi-5/images/serial-console.png
  documentation/asciidoc/computers/raspberry-pi-5/images/shutdown.jpg
  documentation/asciidoc/computers/raspberry-pi-5/images/thermals.png
  documentation/asciidoc/computers/raspberry-pi-5/images/uart-connector.jpg
  documentation/asciidoc/computers/raspberry-pi-5/introduction.adoc
  documentation/asciidoc/computers/raspberry-pi-5/mipi.adoc
  documentation/asciidoc/computers/raspberry-pi-5/pcie.adoc
  documentation/asciidoc/computers/raspberry-pi-5/poe.adoc
  documentation/asciidoc/computers/raspberry-pi-5/power-supply.adoc
  documentation/asciidoc/computers/raspberry-pi-5/schematics.adoc
  documentation/asciidoc/computers/raspberry-pi-5/uart.adoc
  documentation/asciidoc/computers/raspberry-pi.adoc
  documentation/asciidoc/computers/raspberry-pi/boot-msd.adoc
  documentation/asciidoc/computers/raspberry-pi/bootflow-2711.adoc
  documentation/asciidoc/computers/raspberry-pi/eeprom-bootloader.adoc
  documentation/asciidoc/computers/raspberry-pi/frequency-management.adoc
  documentation/asciidoc/computers/raspberry-pi/images/j2.jpg
  documentation/asciidoc/computers/raspberry-pi/images/j5.png
  documentation/asciidoc/computers/raspberry-pi/images/pcie.jpg
  documentation/asciidoc/computers/raspberry-pi/images/poe.jpg
  documentation/asciidoc/computers/raspberry-pi/images/rtc-battery.jpg
  documentation/asciidoc/computers/raspberry-pi/pcie.adoc
  documentation/asciidoc/computers/raspberry-pi/power-button.adoc
  documentation/asciidoc/computers/raspberry-pi/power-supplies.adoc
  documentation/asciidoc/computers/raspberry-pi/raspberry-pi-schematics.adoc
  documentation/asciidoc/computers/raspberry-pi/rtc.adoc
  documentation/asciidoc/microcontrollers/rp1/about_rp1.adoc
  documentation/index.json
Labels: pi5 5️⃣, update

#3523 Rename Pico Probe -> Debug Probe
  documentation/asciidoc/microcontrollers/debug-probe/getting-started.adoc
  documentation/asciidoc/microcontrollers/debug-probe/installing-tools.adoc
  documentation/asciidoc/microcontrollers/debug-probe/introduction.adoc
  documentation/asciidoc/microcontrollers/debug-probe/swd-connection.adoc
  documentation/asciidoc/microcontrollers/debug-probe/updating-firmware.adoc
  documentation/asciidoc/microcontrollers/raspberry-pi-pico/utilities.adoc
Labels: documentation, update

#3531 Add information about maximum SD card size
  documentation/asciidoc/computers/getting-started/setting-up.adoc
Labels: documentation, update

#3529 Added warning about correct storage device when saying safe to write
  documentation/asciidoc/computers/getting-started/install.adoc
Labels: update

#3526 Added --verbose flag to Command Line Options
  documentation/asciidoc/computers/camera/rpicam_options_common.adoc
Labels: camera 📷

#3538 Improve serial number and revision code documentation
  documentation/asciidoc/computers/config_txt/conditional.adoc
  documentation/asciidoc/computers/raspberry-pi/revision-codes.adoc
Labels: update

#3539 Add tutorial sidebar option
  jekyll-assets/_templates/helpers.rb
  jekyll-assets/_templates/section.html.slim
  jekyll-assets/_templates/sidebar.html.slim
  jekyll-assets/css/style.css
Labels: toolchain, update

#3544 USB_MSD_PWR_OFF_TIME is Pi4 only
  documentation/asciidoc/computers/raspberry-pi/eeprom-bootloader.adoc
Labels: bug fix

#3540 Add wayland-compatible on-screen keyboard installation instructions
  documentation/asciidoc/accessories/display/display_intro.adoc
Labels: update

#3545 Update gstreamer.adoc
  documentation/asciidoc/computers/camera/gstreamer.adoc
Labels: camera 📷
